.places {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-gap: 18px 18px;
    justify-content: center;
    
    width: 882px;
    max-width: 100%;
    min-height: 350px;
    margin: 0;
}


@media screen and (max-width: 882px) { /*мобильные*/
    .places {
        margin: 0 auto;
    }
}