@import url('./__name/profile__name.css');
@import url('./__photo/profile__photo.css');
@import url('./__job/profile__job.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__add-button/profile__add-button.css');

.profile{
    width: 882px;
    max-width: 100%;
    margin: 0;
    padding: 36px 0 47px;
    display: grid;
    grid-template-columns: 157px auto 20px 1fr 150px;
    grid-template-areas: 'photo name eddb . addb' 'photo job . . addb';
    align-items: center;
    gap: 0;
}

@media screen and (max-width: 882px) { /*мобильные*/
    .profile {
        margin: 0 auto;
        width: 100%;
        grid-template-columns: auto min-content;
        grid-template-areas: 'photo photo' 'name eddb' 'job job' 'addb addb';
        gap: 0;
        justify-content: center;
        padding: 36px 0 0;
    }
}