.card__recycle-bin {
    display:none;
    margin: 0;
    padding: 0;
    background: url(../../../images/trash.svg) center no-repeat;
    border: none;
    align-self: center;
    background-color: transparent;
    position: absolute;
    right: calc(15% - 24px);
    top: 18px;
    height: 24px;
    width: 24px;
    outline: none;
}