.popup__window {
  width: 430px;
  max-width: 100%;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  /* box-sizing: border-box;
  -webkit-box-sizing: border-box; */
  /* max-height: 100%; содержимое не сжимается и вылазит */
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .popup__window {
    width: calc(100% - 60px);
  }
}

/* похоже, лучше не делать мз на высоту, а то кнопка сохранить уходит за пределы экрана, тк по высоте не сжимается */
/* @media screen and (max-height: 400px) {
  .popup__window {
    width: 100vh;
    margin-top: 20vh;
  }
} */