@import url(./__image/card__image.css);
@import url(./__title/card__title.css);
@import url(./__recycle-bin/card__recycle-bin.css);
@import url(./__like/card__like.css);
@import url(./__like/_active/card__like_active.css);

.card {
    display: grid;
    grid-template-areas: 'image image' 'title like';
    grid-template-columns: 85% 15%;    
    grid-template-rows: 282px 80px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #000;
}
.card:hover .card__recycle-bin{
    display:block;
}