@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/places/places.css');
@import url('../blocks/card/card.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_is-opened/popup_is-opened.css');
@import url('../blocks/hover-style/hover-style.css');


.zoom{
    max-width: 75vw;
    max-height: 75vh;
    margin: auto;
}
.zoom__caption{
    font-size: 12px;
    line-height: 15px;
    margin: 10px auto 0;
}
.zoom__image{
    object-position: center;
    object-fit: cover;
}

