.card__like {
    margin: 0;
    width: 22px;
    height: 30px;
    background: url(../../../images/heart.svg) center no-repeat;
    border: none;
    padding: 0 20px;
    grid-area: like;
    align-self: center;
}