.card__like {
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
    background: url(../../../images/heart.svg) no-repeat;
    background-position: left;
    border: none;
    align-self: center;
    grid-area: like;
    background-color: transparent;
}

.card__like:hover {
    opacity: .6;
    cursor: pointer;
    transition: opacity .4s;
}